/.vs
/Debug
/Intermediate
/Saved
/Engine/ThirdParty/Eigen/out
/Engine/ThirdParty/spdlog-1.x/out
/REngine.vcxproj.user
/Engine/Intermediate
/Engine/Saved
/Engine/Binaries
*.user
/Projects/ShadingModels/Binaries/
/Projects/ShadingModels/Intermediate/
/Projects/ShadingModels/Saved/
/Projects/ShadingModels/.vs
